In [11]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

from bson.decimal128 import Decimal128

In [12]:

mongo = MongoClient(port=27017)

In [13]:
db = mongo["zillow_db"]

In [14]:
collections = db.list_collection_names()
pprint(collections)

['value_index',
 'newcon_count',
 'newcon_sales',
 'days_pending',
 'rental_index',
 'market_index']

In [34]:
value_index = db.value_index

documents = list(value_index.find())

df = pd.DataFrame(documents)

df

# pprint(db.value_index.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28
0,67db5c6684e7ec147c157867,394913,1,"New York, NY",msa,NY,215997.979545,216915.849088,217842.219756,219719.405192,...,655775.193541,658849.712644,661590.751300,665325.900420,669344.302493,672861.282874,675626.194374,677406.746915,678476.263587,679755.746376
1,67db5c6684e7ec147c157868,102001,0,United States,country,,120187.291338,120398.739312,120660.965935,121223.390567,...,352914.638679,353466.996967,353612.598368,353851.962049,354295.143248,354873.991396,355358.916720,356067.058847,356686.351705,357138.132256
2,67db5c6684e7ec147c157869,753899,2,"Los Angeles, CA",msa,CA,223845.478204,224678.467396,225788.001055,227995.600317,...,939338.772106,943348.163884,947786.830884,953046.620772,959562.454127,964859.346450,969423.172391,973502.535403,974045.970345,971995.753941
3,67db5c6684e7ec147c15786a,394463,3,"Chicago, IL",msa,IL,150668.75307,150808.228444,151073.86175,151734.691403,...,314546.393299,315749.091850,316472.773117,317379.333016,318365.905134,319327.319692,320348.475962,321575.006711,322895.868446,324218.209834
4,67db5c6684e7ec147c15786b,394514,4,"Dallas, TX",msa,TX,126168.387128,126224.582968,126289.185839,126456.95271,...,375056.853849,374392.029934,373452.807103,372801.133481,372603.234747,372497.321500,372208.925541,371684.816971,371161.901269,370383.507210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,67db5c6684e7ec147c157be1,753929,935,"Zapata, TX",msa,TX,,,,,...,131531.654866,132688.523619,132912.456958,132558.177145,131910.399644,131007.461037,130221.680939,129654.261794,129200.065580,128708.596263
891,67db5c6684e7ec147c157be2,394743,936,"Ketchikan, AK",msa,AK,,,,,...,381309.331422,381376.980337,380627.574986,380578.025969,381875.990992,383744.854024,384246.890480,384626.243407,385103.593785,386337.628339
892,67db5c6684e7ec147c157be3,753874,937,"Craig, CO",msa,CO,95266.136956,95509.73913,95963.262565,96609.121827,...,276333.773450,276661.013369,276973.040290,277193.293552,278505.525864,280142.587789,281322.412229,282345.620428,282617.554129,283361.480437
893,67db5c6684e7ec147c157be4,395188,938,"Vernon, TX",msa,TX,,,,,...,89532.227728,89785.258302,89590.056750,89124.396435,87904.754411,86367.487077,84515.512263,83281.780126,82381.336309,81560.597125
894,67db5c6684e7ec147c157be5,394767,939,"Lamesa, TX",msa,TX,,,,,...,89821.118489,91125.165281,92973.967602,94626.178003,95342.951468,95352.720131,94853.527542,94525.356703,93915.017024,94232.871852

In [35]:
newcon_count = db.newcon_count

documents = list(newcon_count.find())

df = pd.DataFrame(documents)

df

# pprint(db.newcon_count.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31
0,67db63cceda147870443cc1b,102001,0,United States,country,,34523.0,33807.0,43314.0,38279.0,...,34813.0,37285.0,33829.0,31580.0,30189.0,25942.0,24405.0,21727.0,23006.0,13833.0
1,67db63cceda147870443cc1c,394913,1,"New York, NY",msa,NY,533.0,448.0,552.0,515.0,...,334.0,447.0,343.0,384.0,371.0,304.0,309.0,320.0,306.0,222.0
2,67db63cceda147870443cc1d,753899,2,"Los Angeles, CA",msa,CA,333.0,397.0,587.0,438.0,...,245.0,232.0,228.0,145.0,150.0,122.0,141.0,144.0,168.0,109.0
3,67db63cceda147870443cc1e,394463,3,"Chicago, IL",msa,IL,287.0,255.0,331.0,350.0,...,450.0,520.0,416.0,422.0,457.0,359.0,373.0,389.0,277.0,228.0
4,67db63cceda147870443cc1f,394692,5,"Houston, TX",msa,TX,1303.0,1551.0,1790.0,1777.0,...,1770.0,1907.0,1720.0,1573.0,1331.0,1333.0,1098.0,1035.0,1199.0,607.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,67db63cceda147870443cd09,395063,522,"Sanford, NC",msa,NC,,,,,...,33.0,44.0,46.0,28.0,49.0,36.0,35.0,34.0,18.0,13.0
239,67db63cceda147870443cd0a,786259,655,"Grand Rapids, MN",msa,MN,,,,,...,,,,,,,,,5.0,
240,67db63cceda147870443cd0b,394877,491,"Morehead City, NC",msa,NC,,,,,...,17.0,30.0,36.0,15.0,16.0,12.0,14.0,13.0,24.0,8.0
241,67db63cceda147870443cd0c,394476,704,"Clewiston, FL",msa,FL,,,,,...,21.0,21.0,29.0,29.0,22.0,23.0,19.0,17.0,15.0,14.0
242,67db63cceda147870443cd0d,394567,663,"Ellensburg, WA",msa,WA,,,,,...,7.0,14.0,13.0,9.0,13.0,15.0,7.0,10.0,10.0,6.0

In [36]:
newcon_sales = db.newcon_sales

documents = list(newcon_sales.find())

df = pd.DataFrame(documents)

df

# pprint(db.newcon_sales.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31
0,67db63ac1fe7e4a65b790320,102001,0,United States,country,,312590.0,314851.5,321306.5,320000.0,...,418300.0,416217.5,413900.0,413850.0,420000.0,419900.0,435000.0,440000.0,443995.0,435000.0
1,67db63ac1fe7e4a65b790321,394913,1,"New York, NY",msa,NY,601821.0,670000.0,617419.0,620000.0,...,884506.5,999033.0,996000.0,999000.0,1075000.0,1034649.0,858348.5,943559.0,985000.0,1122820.0
2,67db63ac1fe7e4a65b790322,753899,2,"Los Angeles, CA",msa,CA,895000.0,793500.0,844000.0,852450.0,...,1062495.0,1099990.0,1215000.0,1213000.0,1065000.0,1500000.0,1349000.0,1325000.0,1350000.0,1650000.0
3,67db63ac1fe7e4a65b790323,394463,3,"Chicago, IL",msa,IL,341487.0,374980.0,350585.5,360000.0,...,504475.0,495450.0,514623.0,503785.0,482500.0,470290.0,505990.0,497490.0,549990.0,560000.0
4,67db63ac1fe7e4a65b790324,394692,5,"Houston, TX",msa,TX,283424.5,282990.0,296320.0,294892.0,...,350000.0,349990.0,349995.0,356545.0,355000.0,350000.0,359000.0,349990.0,359995.0,345000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,67db63ac1fe7e4a65b79038e,395079,274,"Sebastian, FL",msa,FL,,,,,...,381500.0,533095.0,511710.0,454500.0,482617.5,469990.0,470000.0,437950.0,403750.0,341400.0
111,67db63ac1fe7e4a65b79038f,394480,262,"Coeur d'Alene, ID",msa,ID,,,,,...,499319.0,551475.0,477532.0,569950.0,560000.0,612500.0,662695.0,705770.0,597000.0,561871.0
112,67db63ac1fe7e4a65b790390,394674,467,"Heber, UT",msa,UT,,,,,...,1199899.0,1150000.0,1645135.0,1492000.0,1252100.0,1367093.0,2541135.0,1297500.0,2110290.0,2340250.0
113,67db63ac1fe7e4a65b790391,753893,477,"Jefferson, GA",msa,GA,215000.0,217500.0,234630.0,225065.0,...,464900.0,415401.0,440620.0,456807.0,474990.0,470490.0,442990.0,440075.0,469482.5,528550.0
114,67db63ac1fe7e4a65b790392,394685,289,"Homosassa Springs, FL",msa,FL,,,,,...,279900.0,279450.0,270000.0,270945.0,279500.0,278000.0,284000.0,299950.0,288499.5,282150.0

In [37]:
days_pending = db.days_pending

documents = list(days_pending.find())

df = pd.DataFrame(documents)

df

# pprint(db.days_pending.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,...,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28
0,67db634f556e75a0a790d96c,102001,0,United States,country,,51.0,48.0,45.0,43.0,...,39.0,37.0,38.0,41.0,44.0,46.0,50.0,55.0,61.0,63.0
1,67db634f556e75a0a790d96d,753899,2,"Los Angeles, CA",msa,CA,35.0,32.0,31.0,32.0,...,30.0,29.0,30.0,33.0,36.0,38.0,41.0,46.0,51.0,51.0
2,67db634f556e75a0a790d96e,394514,4,"Dallas, TX",msa,TX,46.0,42.0,38.0,37.0,...,39.0,38.0,40.0,45.0,50.0,54.0,57.0,62.0,69.0,71.0
3,67db634f556e75a0a790d96f,394463,3,"Chicago, IL",msa,IL,51.0,44.0,40.0,39.0,...,26.0,24.0,24.0,25.0,28.0,31.0,35.0,41.0,47.0,48.0
4,67db634f556e75a0a790d970,395209,6,"Washington, DC",msa,VA,53.0,45.0,42.0,38.0,...,17.0,17.0,19.0,22.0,24.0,27.0,30.0,34.0,38.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,67db634f556e75a0a790dc15,753914,908,"Port Lavaca, TX",msa,TX,,,,,...,,,,,,,,,,232.0
682,67db634f556e75a0a790dc16,395003,912,"Price, UT",msa,UT,,,,,...,,,,,,,,,,96.0
683,67db634f556e75a0a790dc17,394584,863,"Fallon, NV",msa,NV,,,,,...,,,,,,,,,,43.0
684,67db634f556e75a0a790dc18,786263,913,"Ruidoso, NM",msa,NM,,,,,...,,,,,,,,,84.0,96.0
685,67db634f556e75a0a790dc19,845169,874,"Rockport, TX",msa,TX,,,,,...,108.0,115.0,106.0,94.0,94.0,125.0,133.0,139.0,143.0,147.0

In [38]:
rental_index = db.rental_index

documents = list(rental_index.find())

df = pd.DataFrame(documents)

df

# pprint(db.rental_index.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,...,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28
0,67db5cbe6dd90e7bbae6d4a1,394913,1,"New York, NY",msa,NY,2216.830048,2231.43105,2244.293833,2254.09037,...,3115.952526,3120.994595,3125.864378,3131.520933,3137.444185,3150.904147,3170.000893,3190.093115,3206.211653,3220.610276
1,67db5cbe6dd90e7bbae6d4a2,753899,2,"Los Angeles, CA",msa,CA,1809.675757,1819.870517,1831.280764,1840.958473,...,2876.617195,2884.199145,2892.23464,2898.422084,2908.102485,2918.939131,2933.317727,2944.169307,2961.373268,2975.013379
2,67db5cbe6dd90e7bbae6d4a3,102001,0,United States,country,,1195.066956,1200.561615,1206.519335,1211.388355,...,1929.233919,1934.348042,1939.00001,1943.983767,1949.501982,1955.531567,1962.621837,1968.587653,1974.827398,1980.162671
3,67db5cbe6dd90e7bbae6d4a4,394463,3,"Chicago, IL",msa,IL,1399.900987,1401.220183,1405.095809,1409.018335,...,1991.475858,1998.711646,2005.902722,2013.763866,2023.411371,2034.513036,2047.335747,2057.446969,2066.909607,2077.000461
4,67db5cbe6dd90e7bbae6d4a5,394692,5,"Houston, TX",msa,TX,1219.109575,1221.567963,1226.538779,1228.64822,...,1641.444271,1644.408753,1647.130221,1651.524214,1657.593145,1663.735754,1668.571503,1670.957221,1671.790647,1672.643820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,67db5cbe6dd90e7bbae6d6fd,394342,929,"Atchison, KS",msa,KS,,,,,...,,,,,,,,,,1025.000000
605,67db5cbe6dd90e7bbae6d6fe,786253,921,"Brownsville, TN",msa,TN,,,,,...,,,,,,,,,,962.500000
606,67db5cbe6dd90e7bbae6d6ff,753880,930,"Fairfield, IA",msa,IA,,,,,...,,,,,,,,,992.286702,980.000000
607,67db5cbe6dd90e7bbae6d700,394996,915,"Portales, NM",msa,NM,,,,,...,824.361873,830.65607,827.143713,832.75818,833.261988,849.620771,837.397723,845.486091,845.816984,852.638889
608,67db5cbe6dd90e7bbae6d701,395198,882,"Wahpeton, ND",msa,ND,,,,,...,,,,,,,,,610.678846,664.750000

In [40]:
market_index = db.market_index

documents = list(market_index.find())

df = pd.DataFrame(documents)

df

# pprint(db.market_index.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28
0,67db5d3892b8841923f52b48,102001,0,United States,country,,50.0,50.0,52.0,54.0,...,59.0,57.0,55.0,53.0,52.0,51.0,50.0,51.0,52.0,54.0
1,67db5d3892b8841923f52b49,394913,1,"New York, NY",msa,NY,52.0,52.0,55.0,57.0,...,81.0,77.0,77.0,76.0,73.0,69.0,69.0,77.0,83.0,85.0
2,67db5d3892b8841923f52b4a,394463,3,"Chicago, IL",msa,IL,48.0,49.0,51.0,52.0,...,71.0,67.0,64.0,61.0,58.0,56.0,56.0,59.0,64.0,66.0
3,67db5d3892b8841923f52b4b,394514,4,"Dallas, TX",msa,TX,56.0,56.0,59.0,61.0,...,61.0,57.0,53.0,51.0,50.0,50.0,50.0,52.0,54.0,56.0
4,67db5d3892b8841923f52b4c,753899,2,"Los Angeles, CA",msa,CA,69.0,67.0,66.0,67.0,...,75.0,71.0,68.0,66.0,63.0,62.0,63.0,66.0,68.0,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,67db5d3892b8841923f52ee3,394743,936,"Ketchikan, AK",msa,AK,37.0,34.0,33.0,36.0,...,52.0,62.0,66.0,56.0,47.0,43.0,66.0,77.0,76.0,76.0
924,67db5d3892b8841923f52ee4,394968,934,"Pecos, TX",msa,TX,49.0,49.0,52.0,53.0,...,51.0,49.0,47.0,45.0,45.0,45.0,45.0,46.0,47.0,48.0
925,67db5d3892b8841923f52ee5,753874,937,"Craig, CO",msa,CO,2.0,24.0,55.0,70.0,...,60.0,51.0,33.0,22.0,25.0,38.0,40.0,27.0,32.0,43.0
926,67db5d3892b8841923f52ee6,395188,938,"Vernon, TX",msa,TX,52.0,45.0,,48.0,...,65.0,61.0,53.0,57.0,56.0,50.0,44.0,51.0,54.0,52.0
927,67db5d3892b8841923f52ee7,394767,939,"Lamesa, TX",msa,TX,46.0,45.0,44.0,49.0,...,48.0,42.0,38.0,37.0,40.0,38.0,47.0,57.0,54.0,41.0