In [1]:
from pymongo import MongoClient
import pandas as pd
import re as re
import numpy as np
from pprint import pprint

from bson.decimal128 import Decimal128

In [2]:

mongo = MongoClient(port=27017)

In [3]:
db = mongo["zillow_db"]

In [4]:
collections = db.list_collection_names()
pprint(collections)

['market_index',
 'newcon_sales',
 'newcon_count',
 'value_index',
 'rental_index',
 'days_pending']

In [10]:
value_index = db.value_index

documents = list(value_index.find())

df_value_index = pd.DataFrame(documents)

value_index_columns = list(df_value_index.columns)

# value_index_columns_2 = value_index_columns[6:]

# df_value_index_cleaned = df_value_index.copy()

# df_value_index_cleaned[value_index_columns] = df_value_index_cleaned[df_value_index_cleaned[value_index_columns_2].apply(pd.to_numeric)]

#date_cols = {col : float for col in df_value_index.columns[6:]}

#df_value_index[value_index_columns] = df_value_index[value_index_columns].astype(date_cols)
df_value_index.iloc[:, 6:] = df_value_index.iloc[:, 6:].replace('', np.nan)
df_value_index.iloc[:, 6:] = df_value_index.iloc[:, 6:].astype(float)
df_value_index.info()

#print(value_index_columns)

#df_value_index_cleaned

# pprint(db.value_index.find_one())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Columns: 308 entries, _id to 2025-02-28
dtypes: float64(62), int64(2), object(244)
memory usage: 2.1+ MB

C:\Users\Jatab\AppData\Local\Temp\ipykernel_3848\2495363491.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_value_index.iloc[:, 6:] = df_value_index.iloc[:, 6:].replace('', np.nan)

In [6]:
newcon_count = db.newcon_count

documents = list(newcon_count.find())

df_newcon_count = pd.DataFrame(documents)

df_newcon_count

# pprint(db.newcon_count.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31
0,67db6080599cc2825c128e81,753899,2,"Los Angeles, CA",msa,CA,333.0,397.0,587.0,438.0,...,245.0,232.0,228.0,145.0,150.0,122.0,141.0,144.0,168.0,109.0
1,67db6080599cc2825c128e82,394463,3,"Chicago, IL",msa,IL,287.0,255.0,331.0,350.0,...,450.0,520.0,416.0,422.0,457.0,359.0,373.0,389.0,277.0,228.0
2,67db6080599cc2825c128e83,394514,4,"Dallas, TX",msa,TX,1445.0,1525.0,2066.0,1786.0,...,1531.0,1512.0,1474.0,1301.0,1165.0,947.0,878.0,714.0,794.0,369.0
3,67db6080599cc2825c128e84,102001,0,United States,country,,34523.0,33807.0,43314.0,38279.0,...,34813.0,37285.0,33829.0,31580.0,30189.0,25942.0,24405.0,21727.0,23006.0,13833.0
4,67db6080599cc2825c128e85,394692,5,"Houston, TX",msa,TX,1303.0,1551.0,1790.0,1777.0,...,1770.0,1907.0,1720.0,1573.0,1331.0,1333.0,1098.0,1035.0,1199.0,607.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,67dcbcbfcf00e5a92af07529,395122,576,"St. Marys, GA",msa,GA,,,,,...,34.0,13.0,21.0,18.0,21.0,31.0,16.0,12.0,12.0,11.0
840,67dcbcbfcf00e5a92af0752a,394592,550,"Fernley, NV",msa,NV,,,,,...,11.0,28.0,25.0,23.0,21.0,20.0,14.0,16.0,14.0,8.0
841,67dcbcbfcf00e5a92af0752b,786259,655,"Grand Rapids, MN",msa,MN,,,,,...,,,,,,,,,5.0,
842,67dcbcbfcf00e5a92af0752c,394567,663,"Ellensburg, WA",msa,WA,,,,,...,7.0,14.0,13.0,9.0,13.0,15.0,7.0,10.0,10.0,6.0
843,67dcbcbfcf00e5a92af0752d,394476,704,"Clewiston, FL",msa,FL,,,,,...,21.0,21.0,29.0,29.0,22.0,23.0,19.0,17.0,15.0,14.0

In [7]:
newcon_sales = db.newcon_sales

documents = list(newcon_sales.find())

df_newcon_sales = pd.DataFrame(documents)

df_newcon_sales

# pprint(db.newcon_sales.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31
0,67db6000d3fedb5d8f13f092,102001,0,United States,country,,312590.0,314851.5,321306.5,320000.0,...,418300.0,416217.5,413900.0,413850.0,420000.0,419900.0,435000.0,440000.0,443995.0,435000.0
1,67db6000d3fedb5d8f13f093,394913,1,"New York, NY",msa,NY,601821.0,670000.0,617419.0,620000.0,...,884506.5,999033.0,996000.0,999000.0,1075000.0,1034649.0,858348.5,943559.0,985000.0,1122820.0
2,67db6000d3fedb5d8f13f094,753899,2,"Los Angeles, CA",msa,CA,895000.0,793500.0,844000.0,852450.0,...,1062495.0,1099990.0,1215000.0,1213000.0,1065000.0,1500000.0,1349000.0,1325000.0,1350000.0,1650000.0
3,67db6000d3fedb5d8f13f095,394463,3,"Chicago, IL",msa,IL,341487.0,374980.0,350585.5,360000.0,...,504475.0,495450.0,514623.0,503785.0,482500.0,470290.0,505990.0,497490.0,549990.0,560000.0
4,67db6000d3fedb5d8f13f096,394514,4,"Dallas, TX",msa,TX,328086.0,325000.0,322118.0,322837.0,...,422962.5,414900.0,408665.0,417295.0,426995.0,445900.0,466990.0,499000.0,482974.5,460319.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,67db6000d3fedb5d8f13f100,395079,274,"Sebastian, FL",msa,FL,,,,,...,381500.0,533095.0,511710.0,454500.0,482617.5,469990.0,470000.0,437950.0,403750.0,341400.0
111,67db6000d3fedb5d8f13f101,394480,262,"Coeur d'Alene, ID",msa,ID,,,,,...,499319.0,551475.0,477532.0,569950.0,560000.0,612500.0,662695.0,705770.0,597000.0,561871.0
112,67db6000d3fedb5d8f13f102,394685,289,"Homosassa Springs, FL",msa,FL,,,,,...,279900.0,279450.0,270000.0,270945.0,279500.0,278000.0,284000.0,299950.0,288499.5,282150.0
113,67db6000d3fedb5d8f13f103,394674,467,"Heber, UT",msa,UT,,,,,...,1199899.0,1150000.0,1645135.0,1492000.0,1252100.0,1367093.0,2541135.0,1297500.0,2110290.0,2340250.0
114,67db6000d3fedb5d8f13f104,753893,477,"Jefferson, GA",msa,GA,215000.0,217500.0,234630.0,225065.0,...,464900.0,415401.0,440620.0,456807.0,474990.0,470490.0,442990.0,440075.0,469482.5,528550.0

In [8]:
days_pending = db.days_pending

documents = list(days_pending.find())

df_days_pending = pd.DataFrame(documents)

df_days_pending

# pprint(db.days_pending.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,...,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28
0,67db5f0eb5b5f5a128ca0162,394514,4,"Dallas, TX",msa,TX,46.0,42.0,38.0,37.0,...,39.0,38.0,40.0,45.0,50.0,54.0,57.0,62.0,69.0,71.0
1,67db5f0eb5b5f5a128ca0163,395209,6,"Washington, DC",msa,VA,53.0,45.0,42.0,38.0,...,17.0,17.0,19.0,22.0,24.0,27.0,30.0,34.0,38.0,36.0
2,67db5f0eb5b5f5a128ca0164,102001,0,United States,country,,51.0,48.0,45.0,43.0,...,39.0,37.0,38.0,41.0,44.0,46.0,50.0,55.0,61.0,63.0
3,67db5f0eb5b5f5a128ca0165,753899,2,"Los Angeles, CA",msa,CA,35.0,32.0,31.0,32.0,...,30.0,29.0,30.0,33.0,36.0,38.0,41.0,46.0,51.0,51.0
4,67db5f0eb5b5f5a128ca0166,394692,5,"Houston, TX",msa,TX,49.0,46.0,43.0,42.0,...,49.0,47.0,49.0,53.0,57.0,60.0,63.0,67.0,73.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1367,67dcbcf1ccc7f380bf84141d,395004,872,"Prineville, OR",msa,OR,,,,,...,,,,,,,,,87.0,98.0
1368,67dcbcf1ccc7f380bf84141e,753914,908,"Port Lavaca, TX",msa,TX,,,,,...,,,,,,,,,,232.0
1369,67dcbcf1ccc7f380bf84141f,395003,912,"Price, UT",msa,UT,,,,,...,,,,,,,,,,96.0
1370,67dcbcf1ccc7f380bf841420,845169,874,"Rockport, TX",msa,TX,,,,,...,108.0,115.0,106.0,94.0,94.0,125.0,133.0,139.0,143.0,147.0
1371,67dcbcf1ccc7f380bf841421,786263,913,"Ruidoso, NM",msa,NM,,,,,...,,,,,,,,,84.0,96.0

In [9]:
rental_index = db.rental_index

documents = list(rental_index.find())

df_rental_index = pd.DataFrame(documents)

df_rental_index

# pprint(db.rental_index.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,...,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28
0,67dcb448f66bf9c03b742b7a,102001,0,United States,country,,1195.066956,1200.561615,1206.519335,1211.388355,...,1929.233919,1934.348042,1939.00001,1943.983767,1949.501982,1955.531567,1962.621837,1968.587653,1974.827398,1980.162671
1,67dcb448f66bf9c03b742b7b,394913,1,"New York, NY",msa,NY,2216.830048,2231.43105,2244.293833,2254.09037,...,3115.952526,3120.994595,3125.864378,3131.520933,3137.444185,3150.904147,3170.000893,3190.093115,3206.211653,3220.610276
2,67dcb448f66bf9c03b742b7c,753899,2,"Los Angeles, CA",msa,CA,1809.675757,1819.870517,1831.280764,1840.958473,...,2876.617195,2884.199145,2892.23464,2898.422084,2908.102485,2918.939131,2933.317727,2944.169307,2961.373268,2975.013379
3,67dcb448f66bf9c03b742b7d,394463,3,"Chicago, IL",msa,IL,1399.900987,1401.220183,1405.095809,1409.018335,...,1991.475858,1998.711646,2005.902722,2013.763866,2023.411371,2034.513036,2047.335747,2057.446969,2066.909607,2077.000461
4,67dcb448f66bf9c03b742b7e,394514,4,"Dallas, TX",msa,TX,1093.586002,1097.52161,1101.929564,1108.882199,...,1724.657702,1724.334095,1723.264584,1725.016279,1727.71322,1731.193112,1733.161303,1735.503215,1737.11446,1740.965116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,67dcb448f66bf9c03b742dd6,394996,915,"Portales, NM",msa,NM,,,,,...,824.361873,830.65607,827.143713,832.75818,833.261988,849.620771,837.397723,845.486091,845.816984,852.638889
605,67dcb448f66bf9c03b742dd7,394342,929,"Atchison, KS",msa,KS,,,,,...,,,,,,,,,,1025.000000
606,67dcb448f66bf9c03b742dd8,786253,921,"Brownsville, TN",msa,TN,,,,,...,,,,,,,,,,962.500000
607,67dcb448f66bf9c03b742dd9,753880,930,"Fairfield, IA",msa,IA,,,,,...,,,,,,,,,992.286702,980.000000
608,67dcb448f66bf9c03b742dda,394805,916,"Los Alamos, NM",msa,NM,,,,,...,,,,,,,,2631.327768,2653.030884,2733.333333

In [10]:
market_index = db.market_index

documents = list(market_index.find())

df_market_index = pd.DataFrame(documents)

df_market_index

# pprint(db.market_index.find_one())

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28
0,67dcbbfc003bee0df2879081,102001,0,United States,country,,50.0,50.0,52.0,54.0,...,59.0,57.0,55.0,53.0,52.0,51.0,50.0,51.0,52.0,54.0
1,67dcbbfc003bee0df2879082,394913,1,"New York, NY",msa,NY,52.0,52.0,55.0,57.0,...,81.0,77.0,77.0,76.0,73.0,69.0,69.0,77.0,83.0,85.0
2,67dcbbfc003bee0df2879083,394514,4,"Dallas, TX",msa,TX,56.0,56.0,59.0,61.0,...,61.0,57.0,53.0,51.0,50.0,50.0,50.0,52.0,54.0,56.0
3,67dcbbfc003bee0df2879084,394463,3,"Chicago, IL",msa,IL,48.0,49.0,51.0,52.0,...,71.0,67.0,64.0,61.0,58.0,56.0,56.0,59.0,64.0,66.0
4,67dcbbfc003bee0df2879085,394692,5,"Houston, TX",msa,TX,48.0,49.0,51.0,52.0,...,53.0,51.0,49.0,48.0,48.0,47.0,47.0,48.0,48.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,67dcbbfc003bee0df287941c,753929,935,"Zapata, TX",msa,TX,,,,,...,39.0,59.0,55.0,38.0,34.0,43.0,39.0,34.0,41.0,47.0
924,67dcbbfc003bee0df287941d,394743,936,"Ketchikan, AK",msa,AK,37.0,34.0,33.0,36.0,...,52.0,62.0,66.0,56.0,47.0,43.0,66.0,77.0,76.0,76.0
925,67dcbbfc003bee0df287941e,753874,937,"Craig, CO",msa,CO,2.0,24.0,55.0,70.0,...,60.0,51.0,33.0,22.0,25.0,38.0,40.0,27.0,32.0,43.0
926,67dcbbfc003bee0df287941f,395188,938,"Vernon, TX",msa,TX,52.0,45.0,,48.0,...,65.0,61.0,53.0,57.0,56.0,50.0,44.0,51.0,54.0,52.0
927,67dcbbfc003bee0df2879420,394767,939,"Lamesa, TX",msa,TX,46.0,45.0,44.0,49.0,...,48.0,42.0,38.0,37.0,40.0,38.0,47.0,57.0,54.0,41.0

In [11]:
year = '2000'
regex_var = f'{str(year)}'

# Filter columns for that year
month_cols = df_value_index.filter(regex=regex_var).columns  # matches columns ending in "_2020"

# Calculate the average across the selected year columns
df_value_index['2000'] = df_value_index[month_cols].mean(axis=1, skipna= True)

df_value_index

,_id,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2000
0,67dcb40b4aa591adcd8c1938,102001,0,United States,country,,120187.291338,120398.739312,120660.965935,121223.390567,...,353466.996967,353612.598368,353851.962049,354295.143248,354873.991396,355358.916720,356067.058847,356686.351705,357138.132256,123244.341354
1,67dcb40b4aa591adcd8c1939,394913,1,"New York, NY",msa,NY,215997.979545,216915.849088,217842.219756,219719.405192,...,658849.712644,661590.751300,665325.900420,669344.302493,672861.282874,675626.194374,677406.746915,678476.263587,679755.746376,225898.640331
2,67dcb40b4aa591adcd8c193a,753899,2,"Los Angeles, CA",msa,CA,223845.478204,224678.467396,225788.001055,227995.600317,...,943348.163884,947786.830884,953046.620772,959562.454127,964859.346450,969423.172391,973502.535403,974045.970345,971995.753941,234232.790582
3,67dcb40b4aa591adcd8c193b,394463,3,"Chicago, IL",msa,IL,150668.75307,150808.228444,151073.86175,151734.691403,...,315749.091850,316472.773117,317379.333016,318365.905134,319327.319692,320348.475962,321575.006711,322895.868446,324218.209834,154897.139217
4,67dcb40b4aa591adcd8c193c,394514,4,"Dallas, TX",msa,TX,126168.387128,126224.582968,126289.185839,126456.95271,...,374392.029934,373452.807103,372801.133481,372603.234747,372497.321500,372208.925541,371684.816971,371161.901269,370383.507210,127330.335326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,67dcb40b4aa591adcd8c1cb2,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,...,132688.523619,132912.456958,132558.177145,131910.399644,131007.461037,130221.680939,129654.261794,129200.065580,128708.596263,NaN
891,67dcb40b4aa591adcd8c1cb3,394743,936,"Ketchikan, AK",msa,AK,NaN,NaN,NaN,NaN,...,381376.980337,380627.574986,380578.025969,381875.990992,383744.854024,384246.890480,384626.243407,385103.593785,386337.628339,NaN
892,67dcb40b4aa591adcd8c1cb4,753874,937,"Craig, CO",msa,CO,95266.136956,95509.73913,95963.262565,96609.121827,...,276661.013369,276973.040290,277193.293552,278505.525864,280142.587789,281322.412229,282345.620428,282617.554129,283361.480437,98565.042098
893,67dcb40b4aa591adcd8c1cb5,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,...,89785.258302,89590.056750,89124.396435,87904.754411,86367.487077,84515.512263,83281.780126,82381.336309,81560.597125,NaN
894,67dcb40b4aa591adcd8c1cb6,394767,939,"Lamesa, TX",msa,TX,NaN,NaN,NaN,NaN,...,91125.165281,92973.967602,94626.178003,95342.951468,95352.720131,94853.527542,94525.356703,93915.017024,94232.871852,NaN

In [ ]:
month_cols

Index(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31',
       '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31',
       '2000-11-30', '2000-12-31', 'Avg_2000'],
      dtype='object')